
/* balise responsive */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .contenu {
        width:500px;
        background-color:blue;
    }
}
@media screen and (min-width: 993px) {
    .contenu {
        width:800px;
        background-color:red;
    }
}

/* couleur du body */
body{
    background-color: #cbf7cf;
    background-repeat: no-repeat;
}

.containermain {
    width: 100%;
}

.rightmain {
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 15px;
}

/* barre de navigation */
nav .button-collapsemain {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin-left: auto;
}

.color{
    background-color: aquamarine;
}

/* ZOOM IMAGE 1*/

    /* BOX ZOOM */
.zoomarticle1 {
	height: auto;
	/*float: right;
	margin-bottom: 1.65em;
	margin-left: 3%;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
 
    /* BOX IMAGE */
.article_big_img1 {  
	width: 220px;
	height: 220px;
	overflow: hidden;
	/*padding: 2px;*/
}
 
.article_big_img1 > img {
	width: 250px;
	height: 250px;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
 
.zoomarticle1:hover > .article_big_img1 > img {
	transform: scale(1.50);
	-ms-transform: scale(1.50);
	-webkit-transform: scale(1.50);
	-o-transform: scale(1.50);
	-moz-transform: scale(1.50);
}

/* ZOOM IMAGE 2*/
.zoomarticle2 {
	height: 100%;
	//float: right;
	margin-bottom: 1.65em;
	margin-left: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
 
.article_big_img2 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-left: 20px;
}
 
.article_big_img2 > img {
	width: 100%;
	height: 100%;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
 
.zoomarticle2:hover > .article_big_img2 > img {
	transform: scale(1.50);
	-ms-transform: scale(1.50);
	-webkit-transform: scale(1.50);
	-o-transform: scale(1.50);
	-moz-transform: scale(1.50);
}

/* coloration des liens texte surbrillance */
A:link {
    COLOR: rgb(255, 255, 255); TEXT-DECORATION: none; FONT-SIZE: 1.0em;
}

A:hover { 
    COLOR: rgb(218, 148, 32); TEXT-DECORATION: none; FONT-SIZE: 1.0em;
}

.formulaire{
    display:inline-block;
}

.formulaire .champ{
    background-color: rgb(36, 121, 0);
    width:300px; 
    height:35px;
}

.formulaire .bouton{ 
    background-color: rgb(70, 121, 0);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding: 0; }

/* FOOTER */

footer.page-footer {
    background-color: #195a12;
    color: white;
}

footer ul li {
    list-style: disc;
}

footer.page-footer .footer-copyright {
    background: none;
    text-align: center;
}

.logo {
    height= 35px;
    width: 35px;
    float: left;
    padding-right: 1px;
    margin-right: 2px;
}

.white-text {
    margin-top: 4px;
}

.address {
    background: url(../images/lct.png) no-repeat 0 0%;
    padding-left: 30px;
}

.phone {
    background: url(../images/phn.png) no-repeat 0 0%;
    padding-left: 30px;
}

/* IMAGES 3D */
 /*div#stage{ 
     perspective: 600px; 
}
img { 
    transition-property : transform; 
    transition-duration : 0.7s; 
    transform: matrix3d(0.7109, 0, -0.703279, 0, 0, 1, 0, 0, 0.703279, 0, 0.7109, 0, 0, 0, 0, 1);
    box-reflect : below 15px gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(#ff0000)); 
}

img:hover { 
    transition-property: transform; 
    transition-duration: 0.7s; 
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 200, 1); 
} */