
@media screen and (min-width: 768px) and (max-width: 992px) {
    .contenu {
        width:500px;
        background-color:blue;
    }
}
@media screen and (min-width: 993px) {
    .contenu {
        width:800px;
        background-color:red;
    }
}

body{
    background-color: #dff6ff;
    background-repeat: no-repeat;
}

.containermain {
    width: 100%;
}

.rightmain {
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 15px;
}

nav .button-collapsemain {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin-left: auto;
}

.color{
    background-color: aquamarine;
}

/*.zoomarticle {
	height: 400px;
    width: 380px;
	float: left;
	margin-bottom: 1.65em;
	margin-left: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
 
/*TAILLE AGRANDISSEMENT BORD IMAGE*/
/*.article_big_img {
	width: 450px;
	height: 450px;
	overflow: hidden;
	padding-right: 20px;
}*/
 
/*TAILLE DE L'IMAGE*/
/*.article_big_img > img {
	width: 400px;
	height: 380px;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
 
.zoomarticle:hover > .article_big_img > img {
	transform: scale(1.30);
	-ms-transform: scale(1.30);
	-webkit-transform: scale(1.30);
	-o-transform: scale(1.30);
	-moz-transform: scale(1.30);
}*/

/* ZOOM IMAGE */
.zoomarticle2 {
	height: 100%;
	//float: right;
	margin-bottom: 1.65em;
	margin-left: 3%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
 
.article_big_img2 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-left: 20px;
}
 
.article_big_img2 > img {
	width: 100%;
	height: 100%;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
 
.zoomarticle2:hover > .article_big_img2 > img {
	transform: scale(1.50);
	-ms-transform: scale(1.50);
	-webkit-transform: scale(1.50);
	-o-transform: scale(1.50);
	-moz-transform: scale(1.50);
}

A:link { 
    COLOR: rgb(222, 100, 0); TEXT-DECORATION: none; FONT-SIZE: 1.0em;
}

A:hover { 
    COLOR: rgb(218, 148, 32); TEXT-DECORATION: none; FONT-SIZE: 1.0em;
}

.formulaire{
    display:inline-block;}

.formulaire .champ{
    background-color: rgb(36, 121, 0);
    width:300px; 
    height:35px;}

.formulaire .bouton{ 
    background-color: rgb(70, 121, 0);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding: 0; }